@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.services{
  height: 100%;
  width: 100%;
  padding: 20px 0;
  background: url('images/services-bg.jpg');
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0;
}
section h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

section h6 {
  color: rgb(255, 255, 255);
}

section > p {
  text-align: center;
  color: rgb(192, 192, 192);


}
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}
section .cards .card {
  background: rgba(255,255,255,0.2);
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
  font-size:smaller;
  color:rgb(255, 255, 255);
  align-items: center;


}
.services .card img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;

}